.dashboard-page {
  width: 100%;
  min-height: 100vh;
  background: rgb(18, 176, 216);
  text-align: center;
}


.box-cards {
  width: 100%;
}

.titulo {
  width: 100%;
  padding-bottom: 15px;
  /* max-height: ; */
}

.card {
  border-radius: 10% 0%;
  max-width: 30%;
  
  display: flex;
  margin: 13px 13px;
  padding: 10px;
  justify-content: center;
  transition: transform 300ms ease-in-out;
}
.card:hover {
  transform: scale(1.06);
}

.card-component {
  height: 100%;
  width: 100%;
  align-self: flex-end;
}


